<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>Candidates</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ bradcam_area  -->

<!-- featured_candidates_area_start  -->
<div class="featured_candidates_area candidate_page_padding">
    <div class="container">
        <div class="row">
            <div class="row hosting">
                <div class="col-md-6 col-lg-4 mb-5 mb-lg-4" data-aos="fade" data-aos-delay="100" *ngFor="let offre of offres">
        
                  <div class="unit-3 h-100 bg-white " >
                    
                    <div class="d-flex align-items-center mb-3 unit-3-heading " >
                      <div class="unit-3-icon-wrap mr-4">
                        <svg class="unit-3-svg" xmlns="http://www.w3.org/2000/svg" width="59px" height="68px">
                          <path fill-rule="evenodd" stroke-width="2px" stroke-linecap="butt" stroke-linejoin="miter" fill="none" d="M29.000,66.000 L1.012,49.750 L1.012,17.250 L29.000,1.000 L56.988,17.250 L56.988,49.750 L29.000,66.000 Z"></path>
                        </svg><span class="unit-3-icon icon fl-bigmug-line-portfolio23"></span>
                      </div>
                      <a [routerLink]="['/candidats',offre.id]"><h2 class="h5">{{offre.title}}</h2></a>
                    </div>
                    <div class="unit-3-body">
                      <p>{{offre.description}}</p>
                    </div>
                  </div>
        
                </div>
               
              </div>
           
            
        </div>
       
    </div>
</div>
